boot/
1.0/zinc
1.0/plugins/project/
1.0/plugins/target/
0.13/plugins/target/
0.13/plugins/project/
0.13/staging/
0.13/java*
preloaded
1.0/plugins/metals.sbt
1.0/staging/
1.0/templates/
1.0/swoval-jni/
